__tests__/
.DS_Store
.env
.env.development
.env.local
.env.production
.env.test
.git/
.gitignore
.idea/
.utopia/
.vscode/
*.log
*.map
*.spec.*
*.swo
*.swp
*.tar.gz
*.test.*
*.tgz
*.tsbuildinfo
*~
build/
coverage/
docs/
foundations/
goals/
node_modules/
npm-debug.log*
reports/
src/
temp/
test/
tests/
Thumbs.db
tmp/
trust/
yarn-debug.log*
yarn-error.log*
